.module-about {
  border: 0px;
  background-color: transparent; }

.module-about-picture {
  height: 200px;
  border: solid 1px #be9baa;
  margin: 30px 30px 30px 0;
  float: left; }

.module-about-info {
  border: 0px;
  font-size: 14px;
  padding: 20px;
  overflow: auto;
  background-color: white; }
  .module-about-info section {
    overflow: auto; }
  .module-about-info .content {
    padding-top: 40px;
    padding-bottom: 30px; }

.module-blog {
  border: 0px;
  background-color: transparent; }

.blog-list-view {
  width: 300px;
  float: right;
  min-height: 200px; }

.blog-post-view {
  padding-right: 310px; }

.blog-list-results {
  padding: 10px;
  border: 0px; }
  .blog-list-results a {
    display: block; }
  .blog-list-results .active {
    cursor: default;
    color: black; }

.blog-list {
  margin: 70px 0 0 10px; }

.blog-post-header H1 {
  font-size: 36px; }

.blog-post-body {
  border: 0px;
  padding: 20px;
  font-size: 14px;
  background-color: white; }
  .blog-post-body .sharing {
    float: right;
    margin: 0 0 15px 15px; }

.contacts .btn {
  float: right; }
.contacts textarea {
  height: 250px; }

.module-contact {
  border: 0px;
  background-color: transparent; }
  .module-contact h1 {
    margin-top: 0px; }

.module-contact-text p, .module-contact-text a {
  font-size: 14px; }

.sample-show-hide {
  padding: 5px;
  font-style: italic;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  float: right; }
  .sample-show-hide .ng-hide {
    opacity: 0; }

.module-home-content h1 {
  font-weight: bold; }

.module-home-content-body {
  /*Hack to set the render context*/
  overflow: auto; }

.news {
  float: right;
  width: 400px;
  margin: 20px 0 0 20px; }
  .news .newsItem {
    padding: 15px; }
    .news .newsItem .description {
      padding: 10px 0 0 20px; }
    .news .newsItem .title a {
      color: #732819; }
    .news .newsItem .title a:hover {
      color: red; }
    .news .newsItem .title span {
      position: relative;
      top: 2px;
      right: 4px; }
    .news .newsItem .author {
      padding: 10px 0 10px 0;
      text-align: right;
      border-bottom: 1px solid black; }

.project-list-entry div {
  padding: 15px; }

.module-project-display .title {
  display: inline-block; }
.module-project-display .repo {
  margin-left: 10px;
  display: inline-block;
  font-size: 22px; }
  .module-project-display .repo span {
    position: relative;
    left: -5px;
    bottom: -2px; }
.module-project-display .date {
  margin-bottom: 20px;
  display: inline-block; }
.module-project-display .link {
  text-align: right;
  margin-top: 20px; }
.module-project-display .sharing {
  float: right; }

.module-projects-display-body .project .more {
  display: block;
  text-align: right; }
.module-projects-display-body .project .title {
  display: block;
  margin-bottom: 10px; }
  .module-projects-display-body .project .title :hover {
    color: darkblue;
    cursor: pointer;
    text-decoration: none; }

.tutorial-display .navigation {
  font-size: 22px;
  margin-bottom: 10px; }
.tutorial-display .tutorial .sharing {
  float: right; }
.tutorial-display .tutorial .tutorial-content {
  font-size: 14px; }

.module-tutor .controls {
  position: relative;
  padding: 10px 0px; }
  .module-tutor .controls .search {
    position: absolute;
    right: 0px;
    top: 15px; }
  .module-tutor .controls .filters {
    display: inline-block; }
  .module-tutor .controls .sorters {
    margin-left: 30px;
    display: inline-block; }
    .module-tutor .controls .sorters .glyphicon {
      display: inline-block;
      font-size: 22px;
      position: relative;
      top: 7px;
      cursor: pointer;
      color: orange;
      margin-left: 3px; }

.tutor-results .tutor-entry {
  margin: 5px 0 10px 0;
  color: black;
  padding: 10px;
  border-radius: 10px; }

.tutor-entry-body .title {
  font-size: 15px;
  font-weight: bold; }
.tutor-entry-body .description {
  margin: 10px 0; }

BODY {
  background-color: #DEF0F8; }

.module-body, .module-about-info, .blog-post-body, .module-home-content-body, .project-list-entry .project-body, .module-projects-display-body, .tutorial-display .tutorial .tutorial-body, .tutor-entry-body {
  border: solid 1px lightblue;
  border-top: 0px;
  border-left: 0px;
  margin-top: 10px;
  box-shadow: 2px 3px 2px lightblue;
  padding: 15px;
  background-color: white;
  border-radius: 10px; }

.module, .module-about, .module-blog, .module-contact, .module-home, .module-projects {
  border: 0px;
  overflow: auto;
  padding: 40px;
  background-color: transparent; }

.module-title {
  margin: 0px 0px 20px 0px;
  font-weight: bold; }

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px; }

.main-view {
  overflow: auto;
  min-width: 495px; }

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
  border: 1px solid #DA0505; }

html, body {
  height: 100%; }

a, a:hover, a:focus {
  cursor: pointer;
  text-decoration: none; }

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px; }

.footer {
  background-color: lightblue;
  box-shadow: -1px -5px 15px lightblue;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  height: 110px;
  width: 100%;
  text-align: center; }
  .footer img {
    margin-left: 20px; }
  .footer .addthis_sharing_toolbox {
    margin-top: 8px; }

.navigator {
  padding: 0px;
  box-shadow: 1px 5px 15px lightblue;
  margin-bottom: 7px;
  background-color: lightblue; }
  .navigator a.nav-blog {
    border-left: dotted 3px white; }
  .navigator a.nav-home {
    border: 0px;
    font-family: icomoon;
    font-size: 65px; }

.nav-item, .navigator a, .nav-item:focus {
  display: inline-block;
  cursor: pointer;
  color: #333333;
  padding: 10px;
  width: 160px;
  text-align: center;
  font-size: 25px;
  font-family: fantasy;
  border-right: 3px dotted white;
  vertical-align: bottom; }

.nav-item.active, .navigator a.active, .nav-item:hover, .navigator a:hover {
  color: white;
  text-decoration: none; }

