/*.module-projects .main-bgclr-alt2 {*/
/*    background-color : darkgreen;*/
/*}*/
/*.project {*/
/*    color : rgb(215, 181, 181);*/
/*}*/
.project .title {
    display : block;
    margin-bottom : 10px;
}
.project .title:hover {
    color  : darkblue;
    cursor : pointer;
    text-decoration : none;
}
.project .more {
    display    : block;
    text-align : right;
}
/*.project-display.main-bgclr-alt2 {*/
/*    background-color : white;*/
/*}*/
.project-display .author {
    display : inline-block;
}
.project-display .date {
    margin-bottom : 20px;
    display : inline-block;
}
.project-display .module-body {
    padding-top : 10px;
}
.project-display .link {
    text-align : right;
    margin-top : 20px;
}