.module-tutor {
    color : white;
}
.module-tutor .main-bgclr-alt2 {
    background-color : rgb(181, 182, 182);
}
.module-tutor .controls {
    position : relative;
    padding  : 10px 0px;
}
.module-tutor .controls .filters {
    display : inline-block;
}
.module-tutor .controls .sorters {
    margin-left : 30px;
    display : inline-block;
}
.module-tutor .controls .sorters .glyphicon {
    display   : inline-block;
    font-size : 22px;
    position  : relative;
    top       : 7px;
    cursor    : pointer;
    color     : orange;
    margin-left : 3px;
}
.module-tutor .controls .search {
    position : absolute;
    right    : 0px;
    top      : 15px;
}
.tutor-results .tutor-entry {
    margin : 5px 0 10px 0;
    color  : black;
    padding : 10px;
    border-radius : 10px;
}
.tutor-entry .title {
    font-size : 15px;
    font-weight : bold;
}

.tutorial-display .navigation {
     margin-bottom : 10px;
}
.tutorial-display .tutorial {
    border  : dashed 1px black;
    color : black;
}
.tutor-entry .description {
    margin : 10px 0;
}