.navigator {    
    background-color : rgba(128, 128, 128, 0.25);
    padding          : 5px 30px;            
}
.navigator .btn {
    margin-left : 2px;
}
[class^="icon-"], [class*=" icon-"] {    
    font-size : 30px;   
    margin    : 10px;   
}
