.tutorial-display {
    .navigation {
        font-size     : $fnt-l;
        margin-bottom : 10px;
    }
    .tutorial {
        .tutorial-body {
            @extend .module-body;
        }
        .sharing {
            float : right;
        }
        .tutorial-content {
             font-size : $fnt-m;
        }
    }
} 