.info {
    /*Hack to set the render context*/
    overflow : hidden;
}

.news {
    float   : right;
    width   : 400px;
    margin  : 20px 0 0 20px;
}

.news .newsItem .author{
    padding    : 10px 0 10px 0;
    text-align : right;
    border-bottom : 1px solid black;
}
.news .newsItem .title a {
    color : rgb(115, 40, 25);
}
.news .newsItem .title a:hover {
    color : red;
}
.news .newsItem .title span{
    position : relative;
    top   : 2px;
    right : 4px;
}
.news .newsItem .description {
    padding : 10px 0 0 20px;
}
