.navigator {    
    padding: 0px;
    background-color: lightblue;
    /* border-bottom: 5px solid rgb(17, 17, 246); */
    box-shadow: 1px 5px 15px lightblue;
    margin-bottom: 7px;
}
.nav-item {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    width : 160px;
    text-align: center;
    /* margin-left: 20px; */
    vertical-align: bottom;
    /* background-color: #FF9500; */
    font-size: 25px;
    font-family: fantasy;
    border-right: 3px dotted white;
}
.nav-item:hover {
    /*font-size   : 27px;*/
    /*font-weight : bold;*/
    color : white;
}    
.nav-item.active, .nav-item.active:hover {
    /*position: relative;*/
    /*font-size : 27px;*/
    color     : white;
    
    /*bottom  : -1px;*/
    /*padding : 13px 18px;*/
    /*font-weight  : bold;*/
    /*border-top-right-radius: 8px;*/
    /*border-top-left-radius : 8px;*/
}
.nav-blog {
    border-left : dotted 3px white;
}
.nav-home {
    border: 0px;
    /*color : rgb(0, 155, 255); */
    font-family : icomoon;
}
.nav-item.nav-home.active {
    
}
.nav-home, .nav-home:hover, .nav-item.nav-home.active {
    font-size : 65px;
}

/*.nav-blog,.module-blog.main-bgclr-alt { */
/*    background-color : #00B74A;*/
}
/*.nav-projects,.module-projects.main-bgclr-alt { */
/*    background-color : #BFAC30;*/
/*}*/
/*.nav-tutor,.module-tutor.main-bgclr-alt { */
/*    background-color : #6C3255;*/
/*}*/
/*.nav-contact,.module-contact.main-bgclr-alt { */
/*    background-color : rgb(124, 132, 71);*/
/*}*/
/*.nav-tutor {*/
/*    color : rgb(42, 205, 190);*/
/*}*/
/*.nav-about,.module-about.main-bgclr-alt {*/
/*    background-color : #E2E2E2;*/
/*}*/
/*.nav-about.active {*/
/*    color : black;*/
/*}*/
