.blog-list-results {
    padding : $pdng-m;
    border  : $main-brdr;
    
    a{
        display : block;
    }  
    .active{
        cursor : default;
        color  : black;
    }
}
.blog-list {
    margin : 70px 0 0 10px;
}