.blog-list-view {
    width: 300px; 
    float: right; 
    min-height: 200px; 
}

.blog-list-results {
    a{
        display : block;
    }  
    .active{
        cursor : default;
        color  : black;
    }
}
.blog-list {
    margin : 70px 0 0 10px;
}