<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='/utils/bootstrap-3.2.0-dist/css/bootstrap.css'>
        <link rel='stylesheet' type='text/css' href='/resources/css/navigator.css'>
        <link rel='stylesheet' type='text/css' href='/resources/css/icons.css'>
    </head> 	
    <body ng-app='projectX'>
        <div ng-include="'/templates/navigator.html'"></div>
        <div ui-view></div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script type="text/javascript" src="/js/controllers/projectXcontroller.js"></script>
        <script type="text/javascript" src="/js/services/navigationService.js"></script>
        <script type="text/javascript" src="/js/services/blogService.js"></script>
        <script type="text/javascript" src="/js/controllers/navigatorController.js"></script> 
        <script type="text/javascript" src="/js/controllers/postsController.js"></script> 
        <script type="text/javascript" src="/js/controllers/projects.js"></script> 
        <script type="text/javascript" src="/js/controllers/contactsController.js"></script> 
        <script type="text/javascript" src="/js/controllers/PostDisplayCtrl.js"></script> 
   </body>
</html>
