BODY {
    background-color : $main-bgclr;
}
.module-body {
    border      : solid 1px lightblue;
    border-top  : 0px;
    border-left : 0px;
    margin-top  : 10px;
    box-shadow  : 2px 3px 2px lightblue;
    padding     : $pdng-l;
    background-color : $main-bgclr-alt2;
    border-radius    : 10px;
}
.module {
    border  : $main-brdr;
    overflow: auto; 
    padding : 40px;
    background-color : $main-bgclr-alt;
}
.module-title {
    margin : 0px 0px 20px 0px;
    font-weight : bold;
}
.wrapper {
    min-height : 100%;
    position   : relative;
    padding-bottom : 100px;
}
.main-view { 
    overflow  : auto;
    min-width : 495px;
}
input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
  border: 1px solid #DA0505;
}