$main-brdr : 0px;

$mrgn-s  :  5px;
$mrgn-m  : 10px;
$mrgn-l  : 15px;
$mrgn-xl : 20px;

$pdng-s  :  5px;
$pdng-m  : 10px;
$pdng-l  : 15px;
$pdng-xl : 20px;
$pdng-xxl: 25px;

$fnt-s   : 8px;
$fnt-m   : 14px;
$fnt-l   : 22px;
$fnt-xl  : 28px;
$fnt-xxl : 36px;

$main-bgclr     : #DEF0F8;
$main-bgclr-alt : transparent;
$main-bgclr-alt2: white;